<hr>
<div class="container">
  <h3 class="title notification is-primary">Book POST Form with Observable</h3>
  <div class="field">
    <label class="label">Id: </label>
    <div class="control">
      <input class="input" [(ngModel)]="book.id" />
    </div>
  </div>

  <div class="field">
    <label class="label">Name: </label>
    <div class="control">
      <input class="input" [(ngModel)]="book.name" />
    </div>
  </div>

  <div class="field">
    <label class="label">Category: </label>
    <div class="control">
      <input class="input" [(ngModel)]="book.category" />
    </div>
  </div>

  <div class="field">
    <label class="label">Writer: </label>
    <div class="control">
      <input class="input" [(ngModel)]="book.writer" />
    </div>
  </div>

  <hr>
  <div class="field is-grouped">
    <div class="control">
      <button class="button is-info" (click)="addBook()">Add</button>
    </div>
    <div class="control">
      <button class="button is-default">Cancel</button>
    </div>
  </div>

  <p *ngIf="bookName" [ngClass]="'help is-success'"> {{bookName}} Added. </p>
  <p *ngIf="errorMessage" [ngClass]="'help is-error'"> {{errorMessage}} </p>

</div>
<!-- ./div.container -->

<hr>
<div class="container">
  <h3 class="title tag is-warning">Book Details with Observable</h3>
  <!-- <ul>
    <li *ngFor="let book of observableBooks | async">
      Id: {{book.id}}, Name: {{book.name}}, Category: {{book.category}}, Writer: {{book.writer}}
    </li>
  </ul> -->

  <table class="table table-bordered is-striped is-narrow is-fullwidth">
    <thead class="thead">
      <tr>
          <th class="has-text-centered">ลำดับ</th>
          <th> ISBN </th>
          <th>ชื่อหนังสือ</th>
          <th>หมวดหมู่</th>
          <th>ผู้เขียน</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of observableBooks | async; let i = index">
          <td class="has-text-centered">{{i+1}}</td>
          <td>{{book.Book.isbn}}</td>
          <td>{{book.Book.name}}</td>
          <td>{{book.Book.category}}</td>
          <td>{{book.Book.writer}}</td>
      </tr>
    </tbody>
  </table>

  <hr>
  <h3 class="title tag is-success">Book Details after "subscribe" to Observable </h3>
  <!-- <ul>
    <li *ngFor="let book of books">
      Id: {{book.id}}, Name: {{book.name}}, Category: {{book.category}}, Writer: {{book.writer}}
    </li>
  </ul> -->
  <table class="table table-bordered is-striped is-narrow is-fullwidth">
    <thead class="thead">
      <tr>
        <th class="has-text-centered">ลำดับ</th>
        <th> ISBN </th>
        <th>ชื่อหนังสือ</th>
        <th>หมวดหมู่</th>
        <th>ผู้เขียน</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of books; let i = index">
        <td class="has-text-centered">{{i+1}}</td>
        <td>{{book.Book.isbn}}</td>
        <td>{{book.Book.name}}</td>
        <td>{{book.Book.category}}</td>
        <td>{{book.Book.writer}}</td>
      </tr>
    </tbody>
  </table>

  <p class="help is-danger" *ngIf="errorMessage"> {{errorMessage}} </p>
</div>