<hr>
<div class="container">
  <h3 class="title is-primary">Book POST Form with Observable</h3>
  <div class="field">
    <label class="label">Id: </label>
    <div class="control">
      <input class="input" [(ngModel)]="book.id" />
    </div>
  </div>

  <div class="field">
    <label class="label">Name: </label>
    <div class="control">
      <input class="input" [(ngModel)]="book.name"/>
    </div>
  </div>

  <div class="field">
    <label class="label">Category: </label>
    <div class="control">
      <input class="input" [(ngModel)]="book.category" />
    </div>
  </div>

  <div class="field">
    <label class="label">Writer: </label>
    <div class="control">
      <input class="input" [(ngModel)]="book.writer" />
    </div>
  </div>

  <hr>
  <div class="field is-grouped">
    <div class="control">
      <button class="button is-info" (click)="addBook()">Add</button>
    </div>
    <div class="control">
      <button class="button is-default">Cancel</button>
    </div>
  </div>

  <p *ngIf="bookName" [ngClass]="'help is-success'"> {{bookName}} Added. </p>
  <p *ngIf="errorMessage" [ngClass]="'help is-error'"> {{errorMessage}} </p>

</div>
<!-- ./div.container -->

<hr>
<div class="container">
  <h3 class="title is-primary">Book Details with Observable</h3>
  <!-- <ul>
    <li *ngFor="let book of observableBooks | async">
      Id: {{book.id}}, Name: {{book.name}}, Category: {{book.category}}, Writer: {{book.writer}}
    </li>
  </ul> -->

  <table class="table table-bordered is-striped is-narrow is-fullwidth">
    <thead class="thead">
      <tr>
        <th>Book ID</th>
        <th>Book Name</th>
        <th>Category</th>
        <th>Writer</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of observableBooks | async"> 
        <td>{{book.id}}</td>
        <td>{{book.name}}</td>
        <td>{{book.category}}</td>
        <td>{{book.writer}}</td>
      </tr>
    </tbody>
  </table>

  <hr>
  <h3 class="title is-primary">Book Details after "subscribe" to Observable </h3>
  <!-- <ul>
    <li *ngFor="let book of books">
      Id: {{book.id}}, Name: {{book.name}}, Category: {{book.category}}, Writer: {{book.writer}}
    </li>
  </ul> -->
  <table class="table table-bordered is-striped is-narrow is-fullwidth">
    <thead class="thead">
      <tr>
        <th>Book ID</th>
        <th>Book Name</th>
        <th>Category</th>
        <th>Writer</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of books"> 
        <td>{{book.id}}</td>
        <td>{{book.name}}</td>
        <td>{{book.category}}</td>
        <td>{{book.writer}}</td>
      </tr>
    </tbody>
  </table>

  <p class="help is-danger" *ngIf="errorMessage"> {{errorMessage}} </p>
</div>