<div class="container">
  <hr>
  <h1 class="title notification is-danger">Get Book by Params </h1>
  <div>
    <form #bookByIdForm="ngForm" (ngSubmit)="bookById(bookByIdForm)">
      <div class="field">
        <label class="label tag is-warning">Enter Book params posible value: book id | book name | book category | book price | book writer</label>
        <div class="control">
          <input name="bookId" class="input" ngModel required #bookId="ngModel">
        </div>
      </div>

      <div class="field">
        <div class="control">
          <button class="button is-info" [disabled]="bookByIdForm.invalid">Submit</button>
        </div>
      </div>

    </form>
  </div>
  <br/>
  <!-- <div *ngIf="bookByIdForm.submitted"> -->
  <div>
    <div *ngIf="filteredListOfBooks; else loading">
      <table class="table is-bordered is-striped is-narrow is-fullwidth">
        <thead class="thead">
          <tr>
            <th class="has-text-centered">ลำดับ</th>
            <th> ISBN </th>
            <th>ชื่อหนังสือ</th>
            <th>หมวดหมู่</th>
            <th>ผู้เขียน</th>
          </tr>
        </thead>
        <tr *ngFor="let book of filteredListOfBooks; let i = index">
          <td class="has-text-centered">{{i+1}}</td>
          <td>{{book.Book.isbn}}</td>
          <td>{{book.Book.name}}</td>
          <td>{{book.Book.category}}</td>
          <td>{{book.Book.writer}}</td>
        </tr>
      </table>
    </div>
    <ng-template #loading>
      <div *ngIf="dataAvailableById; else notAvailable">
        Loading data...
      </div>
      <ng-template #notAvailable> ไม่พบข้อมูล. </ng-template>
    </ng-template>
  </div>



  <hr/>
  <h3 class="title">Filter Books </h3>
  <div class="container">
    <form #filterBookForm="ngForm" (ngSubmit)="filterBooks(filterBookForm)">

      <div class="field">
        <label class="label">Category:</label>
        <div class="control">
          <div class="select">
            <select name="category" ngModel>
             <option value="" disabled>Select a Category</option>
             <option *ngFor="let category of categories" [ngValue]="category.name">
                {{ category.name }}
             </option>
            </select>
          </div>
        </div>
      </div>

      <div class="field">
        <label class="label">Writer:</label>
        <div class="control">
          <div class="select">
            <select name="writer" ngModel>
              <option value="" disabled>Select a Writer</option>
              <option *ngFor="let writer of writers" [ngValue]="writer.name">
                {{ writer.name }}
              </option>
            </select>
          </div>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <button class="button is-primary" [disabled]="filterBookForm.invalid">Submit</button>
        </div>
      </div>

    </form>
  </div>
  <br/>

  <div *ngIf="filterBookForm.submitted">
    <div *ngIf="filteredListOfBooks; else loading">
      <table class="table table-bordered is-striped is-narrow is-fullwidth">
        <thead class="thead">
          <tr>
            <th class="has-text-centered">ลำดับ</th>
            <th> ISBN </th>
            <th>ชื่อหนังสือ</th>
            <th>หมวดหมู่</th>
            <th>ผู้เขียน</th>
          </tr>
        </thead>
        <tr *ngFor="let book of filteredListOfBooks; let i = index;">
          <td class="has-text-centered">{{i+1}}</td>
          <td>{{book.Book.isbn}}</td>
          <td>{{book.Book.name}}</td>
          <td>{{book.Book.category}}</td>
          <td>{{book.Book.writer}}</td>
        </tr>
      </table>
    </div>
    <ng-template #loading>
      <div *ngIf="dataAvailableAfterFilter; else notAvailable">
        Loading data...
      </div>
      <ng-template #notAvailable> ไม่พบข้อมูล. </ng-template>
    </ng-template>
  </div>

  <p class="help is-danger" *ngIf="errorMessage" [ngClass]="'error'"> {{errorMessage}} </p>
</div>
<!-- ./container -->