<div class="container">
  <!-- <nav class="nav" *ngIf="loginStatus | async"> -->
  <nav class="nav">

    <div class="nav-left">
      <a class="nav-item" routerLinkActive="is-active" routerLink="/">Home</a>
      <a class="nav-item" routerLinkActive="is-active" routerLink="/user">User</a>
      <a class="nav-item" routerLinkActive="is-active" routerLink="/province">Province</a>
      <a class="nav-item" routerLinkActive="is-active" routerLink="/product">Product</a>
      <a class="nav-item" routerLinkActive="is-active" routerLink="/planets">Planets</a>
      <a class="nav-item" routerLinkActive="is-active" [routerLink]="['user', 20, 'details']" title="Router Link With Params">Link params</a>
    </div>

    <div id="nav-menu" class="nav-right nav-menu">
      <a class="nav-item" routerLinkActive="is-active" routerLink="/contact">Contact</a>

      <!-- <a class="nav-item" routerLinkActive="is-active" routerLink="/add-book">Add Book</a> -->
      <a class="nav-item" routerLinkActive="is-active" routerLink="/manage-book">Book CRUD</a>

      <a class="nav-item" routerLinkActive="is-active" routerLink="/form">Form</a>

      <a class="nav-item" routerLinkActive="is-active" routerLink="demo">Demo</a>
    </div>

  </nav>

  <div class="container">
    <router-outlet>
      <!-- Directive for the router outlet each component directive must to used it for render  -->
    </router-outlet>
  </div>
</div>